In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import pandas as pd
from datetime import datetime

> ### seoul bike 자료 저장
50분 정도 걸림

In [ ]:
# #불러오기
# seoul_bike = pd.read_hdf('D:\git_local_repository\data_for_project\seoul_bike\seoul_bike_2021.hdf5')

# # 1분당 이동 거리(m)
# seoul_bike['m_pm'] = (seoul_bike['dist'] / (seoul_bike['riding_time'])).round(decimals=0)  # 1분당 거리 계산

# #한국에는 자전거에 미친놈들이 많은건가 아니면 오류인가
# # 선수급도 50km/h 속도가 나온다. 1분에 830미터 정도 달린다고 한다.
# # 동호회 수준에서도 30km/h면 수준급 실력이라 한다. 1분에 500m 정도 된다.
# # 4745948, 도심 한가운데서 분당 1000m의 속도로 54키로를 달리는게 말이되나.. 54km면 여의도 공원 => 잠원 한강공원을 왕복하고도 다시 출발해 절반은 더 가야된다.
# # 이게 말이되나.. 

# # 결론
# # 1분당 거리 계산 (1분당 400미터 이상인 경우 error로 간주)

# seoul_bike = seoul_bike.query('m_pm <= 400')

# seoul_bike

# a = seoul_bike.query('st_id1 == 9999 | st_id2 == 9999').index

# b = seoul_bike[~seoul_bike.index.isin(a)]

# result = b.reset_index(drop=True)

# result.to_parquet('bike_record_including_time.parquet.gzip',allow_truncated_timestamps=True, compression='gzip')

In [2]:
result = pd.read_parquet('bike_record_including_time.parquet.gzip')
result['date'] = '2021' + '-' +result.month.apply(str) + '-' + result.month.apply(str)
result['date'] = pd.to_datetime(result['date'])
result['time'] = result.time.apply(str) # 이게 핵심
result['date'] = pd.to_datetime(result.date.dt.strftime("%Y-%m-%d") + " " + result.time)


mysql.to_parquet('bike_record_including_datetime.parquet.gzip',allow_truncated_timestamps=True, compression='gzip')

> ### 메모리 줄이기

In [4]:
import gc
result = pd.DataFrame([])
del [[ result ]]
gc.collect()

> ### bike_2021 2000만건 데이터 upload

In [15]:
db_connection_str = 'mysql+pymysql://root:1234@localhost:3306/dash_test'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()
batch = 20000
# for i in range(10, len(mysql), batch) :
#     mysql[i:i+batch].to_sql(name='dashboard_seoul_bike_2021', con=db_connection, if_exists='append',index=False) 
mysql[0:10].to_sql(name='dashboard_seoul_bike_2021', con=db_connection, if_exists='append',index=False)

> ### Station information upload

In [9]:
db_connection_str = 'mysql+pymysql://root:1234@localhost:3306/dash_test'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

station = pd.read_csv(
    "D:\git_local_repository\django_data_visualization\dashBoard\static\seoul_bike_station_01_12.csv",
    encoding="CP949",
)
# table 정리
station.drop(columns='id',inplace=True)
station.dropna(inplace=True)
station.columns = ['st_id','st_name','district','latitude','longtitude']

# sql에 넣기
station.to_sql(name='dashboard_stationinformation', con=db_connection, if_exists='append',index=False)

> ### dropdown options에 쓰는 data

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import pandas as pd

station = pd.read_csv(
    "D:\git_local_repository\django_data_visualization\dashBoard\static\seoul_bike_station_01_12.csv",
    encoding="CP949",
)
a = station.drop(columns=["id"]).dropna()
asd = station['st_id'].astype('str') + " : " + station['주소2'].tolist()
a['label'] = asd
bundle_data = a[['st_id','label']]

asd = bundle_data.reset_index()
asd.columns = ['id','value','label']
bts = bundle_data.copy()
bts.columns=['value','label']

db_connection_str = 'mysql+pymysql://root:1234@localhost:3306/dash_test'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()
bts.to_sql(name='dashboard_selector_options', con=db_connection, if_exists='append',index=False)

In [5]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import pandas as pd

station = pd.read_csv(
    "D:\git_local_repository\django_data_visualization\dashBoard\static\\near_sub_station.csv",encoding="CP949",index_col=0)
db_connection_str = 'mysql+pymysql://root:1234@localhost:3306/dash_test'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

station.to_sql(name='dashboard_station_near_subway', con=db_connection, if_exists='append',index=False)

station

      bi_st_id  sub_st_id sub_name sub_line    sub_long    sub_lat
0          102       2622       망원      6호선  126.910052  37.556094
1          103       2622       망원      6호선  126.910052  37.556094
2          104          0      NaN      NaN         NaN        NaN
3          105        238       합정      2호선  126.913808  37.549457
4          106       2623       합정      6호선  126.913366  37.549209
...        ...        ...      ...      ...         ...        ...
2648      2714          0      NaN      NaN         NaN        NaN
2650      2200          0      NaN      NaN         NaN        NaN
2651      3304        227      낙성대      2호선  126.963693  37.476930
2652      2292          0      NaN      NaN         NaN        NaN
2653      2543          0      NaN      NaN         NaN        NaN

[2633 rows x 6 columns]